@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Overlock:400,400i,700');

body, html
    height: 100%
    width: 100%
    margin: 0 auto
    font-family: 'Overlock', sans-serif

@import './_variables'
@import '../../../node_modules/bulma/bulma'